<div class="row top-row" > 
  <div class="col-md-3 nopadding">
    <span class="logo">
      VoyageVoyage 
    </span>
  </div>
 <div class="col-md-2 nopadding">
   <select id="" class="form-control" ng-model="selectedCountry" ng-options="country.name for country in countries" ng-change="updatePlaceList()">
     <option value="">--Выберите страну--</option>
   </select>
 </div>
 <div class="col-md-2 nopadding">
   <select id="" class="form-control" ng-model="selectedPlace" ng-options="place.name for place in places" name="">
     <option value="">--Выберите место--</option>
   </select>
 </div>
</div>
<!--Tours list-->
<div ng-repeat="tour in tours | filter: countryFilter | filter: placeFilter" class='entry'>
  <div class="row">
    <!--Image-->
    <div class="col-md-3 nopadding">
      <img src="" alt="" height="100" width="200">
    </div>
    <!--Tour item-->
    <div class="col-md-9">
      <div class="row">
        <div class='title col-md-6 nopadding'>
          <a ng-href="/#/tour/{{ tour.objectId }}">
            {{tour.title}}
          </a>
          <div class="label label-primary">{{getCountryById(tour.countryId)}}</div>
          <span class="label label-success">{{getPlaceById(tour.placeId)}}</span>
        </div>
        <span class='price pull-right col-md-3'>
          {{tour.price | currency: "&#8381; " : 0}}
        </span>
      </div>
      <div class="row description">
        {{shortenText(tour.text)}}
        <a ng-href="/#/tour/{{ tour.objectId }}">далее</a>
      </div>
    </div>
  </div>
</div>
