.row.top-row
  ng-include src="'app/shared/logo.html'"
.row
  vv-tour-image-flipper
    vv-tour-image image-url="http://icdn.lenta.ru/images/2015/11/30/17/20151130175817323/preview_82d2a5000c420cc11c0096fffa70a2c0.jpg"
    vv-tour-image image-url="http://icdn.lenta.ru/images/2015/11/30/17/20151130175900113/preview_1a928c82a763e7c47897da83bb859a49.jpg" 
  .col-md-3
    img alt="" height="130" src="" width="230" ng-src="{{ tour.image.url }}" /
  .col-md-9
    h1  {{ tour.title }} 
    h3  {{ hotel.stars + '*' }} {{ hotel.name }} 
    span.label.label-primary  {{ country.name }} 
    span.label.label-success  {{ place.name }} 
    hr/
    | {{tour.text}}
